.App {
  background-color: #008080;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textHoleder {
  margin: auto;
  border-style: ridge;
  box-shadow: 10px 10px 5px #888888;
}
.view {
  margin: auto;
  margin-top: 2%;
  min-height: 30vh;
  min-width: 50vw;
  border-style: ridge;
  box-shadow: 10px 10px 5px #888888;
}

#editor {
  resize: vertical;
  min-height: 50vh;
  min-width: 50vw;
}
#preview {
  min-height: 50vh;
  min-width: 50vw;
  background-color: rgba(255, 255, 255, 0.75);
}
h5 {
  margin: 0;
  background-color: slategray;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .App {
    background-color: #2f4f4f;
  }
}
